@font-face {
  font-family: 'PragmaticaMedium';
  src: url(./Fonts/PragmaticaMedium.otf);
}
@font-face {
  font-family: 'Pragmatica-Light';
  src: url(./Fonts/Pragmatica-Light.ttf);
}
@font-face {
  font-family: 'Mesmer-Regular';
  src: url(./Fonts/Mesmer-Regular.ttf);
}

.body, html {
  padding: 0;
  margin: 0;
  font-family: 'PragmaticaMedium';
  overflow-x: hidden;
}
.home-page-hero-image {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-color: #333;
}

.logo-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.logo-title {
  font-family: 'Mesmer-Regular';
  font-size: 3rem;
  text-shadow: -1px -1px 0 #fff,
  3px 2px 0 #fff,
  2px 3px 0 #fff,
  2px 2px 0 #fff;
}

.logo {
  width: 50px;
  height: 50px;
  padding-top: 3%;
}

.navbar-container {
  width: 100vw;
  margin-left: 13%;
  padding-top: 2%;
  display: flex;
  white-space: nowrap;
}

.navbar-list-links {
  width: 40%;
  list-style-type: none;
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
  display: flex;
  white-space: nowrap;
}

.navbar-link, .navbar-button {
  padding-left: 4%;
  padding-right: 4%;
}

.navbar-link:hover, .navbar-underlined-text:hover {
  border-bottom: #fff 2px solid;
  padding-bottom: 1.5%;
  cursor: pointer;
}

.right-navbar-buttons-container {
  width: 40%;
}

.navbar-buttons-list {
  display: flex;
  list-style-type: none;
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
  margin-left: 30%;
}

.navbar-white-button {
  border: #fff 2px solid;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 5px;
  padding: 7px 24px 8px;
  margin: -8px 0 0 15px;
  display: inline-block;
}

.navbar-white-button:hover{
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  color: #666666;
  transition: 0.6s;
  cursor: pointer;
}

.dropdown-main-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  padding: 0;
  border: 0;
}


.dropdown {
  width: 100vw;
  height: auto;
  padding: 1.2%;
  font-size: 18px;
  border: none;
  font-family: 'Pragmatica-Light';
  font-weight: 800;
}

.dropdown-first-container, .dropdown-second-container {
  background-color: #fff;
  width: fit-content;
  height: auto;
  padding: 0.8%;
  font-size: 18px;
}

.dropdown-first-container {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 30vw;
  position: relative;
}

.dropdown-second-container {
  width: 30vw;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  position: relative;
}

.dropdown-search-icon-container {
  display: inline;
  height: 100%;
}

.dropdown-search-icon-button {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #BE2021;
  border: none;
  width: 64px;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-search-icon{
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-first-container:hover > .dropdown-content {
  display: block;
  border-top: rgba(0,0,0,0.2) 1px solid;
  margin-top: 1.8%;
  width: 33vw;
}

.dropdown-first-container-text, .dropdown-second-container-text {
  color: #666666;
  font-weight: bolder;
  margin-right: 1%;
}

.searchbar-placeholder {  
  color: #757575;
}


.bottom-nav-list-items {
  display: flex;
  justify-content: center;
  color: #fff;
  list-style-type: none;
  font-size: 14px;
}

.bottom-nav-link {
  padding: 0 25px;
}

.bottom-nav-icon {
  vertical-align: middle;
  margin-right: 3px;
}

.home-project-cards-container {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.project-cards {
  width: 300px;
  height: auto;
  margin: 10px;
}

.project-card-title {
  color: #0173BB;
  font-weight: 800;
  font-size: 16px;
  margin-block: 0;
  line-height: 2;
}

.project-card-category, .project-card-location {
  font-family: 'Pragmatica-Light';
  font-weight: 800;
  font-size: 14px;
  margin-block: 0;
  font-weight: 800;
}
.project-card-stars {
  width: 102px;
  height: 18px;
}

.recent-activity-text {
  color: rgb(211, 36, 35);
  font-weight: bolder;
  font-size: 1.3rem;
  text-align: center;
}

.dropdown-first-container::after {
  content: '';
  position: absolute;
  background-color: #ccc;
  width: 1px;
  top: 8px;
  right: 0;
  bottom: 8px;
}