@font-face {
  font-family: 'PragmaticaMedium';
  src: url(./Fonts/PragmaticaMedium.otf);
}
@font-face {
  font-family: 'Pragmatica-Light';
  src: url(./Fonts/Pragmatica-Light.ttf);
}
@font-face {
  font-family: 'Mesmer-Regular';
  src: url(./Fonts/Mesmer-Regular.ttf);
}

.body, html {
  padding: 0;
  margin: 0;
  font-family: 'PragmaticaMedium';
}
.home-page-hero-image {
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.logo-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.logo-title {
  font-family: 'Mesmer-Regular';
  font-size: 3rem;
  text-shadow: -1px -1px 0 #fff,
  3px 2px 0 #fff,
  2px 3px 0 #fff,
  2px 2px 0 #fff;
}

.logo {
  width: 50px;
  height: 50px;
  padding-top: 3%;
}

.navbar-container {
  width: 40%;
  margin-left: 13%;
  padding-top: 1%;
}

.navbar-list-links {
  list-style-type: none;
  display: flex;
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
}

.navbar-link {
  padding-left: 3%;
  padding-right: 3%;
}

.navbar-link:hover {
  border-bottom: #fff 2px solid;
  padding-bottom: 1.5%;
}

.dropdown-main-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  padding: 0;
  border: 0;
}


.dropdown {
  width: 100vw;
  height: auto;
  padding: 1.2%;
  font-size: 18px;
  border: none;
  font-family: 'Pragmatica-Light';
  font-weight: 800;
}

.dropdown-first-container, .dropdown-second-container {
  background-color: #fff;
  width: fit-content;
  height: auto;
  padding: 0.8%;
  font-size: 18px;
}

.dropdown-first-container {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 33vw;
  position: relative;
}

.dropdown-second-container {
  width: 33vw;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-first-container:hover > .dropdown-content {
  display: block;
  border-top: rgba(0,0,0,0.2) 1px solid;
  margin-top: 1.8%;
  width: 33vw;
}

.dropdown-first-container-text, .dropdown-second-container-text {
  color: #666666;
  font-weight: bolder;
  margin-right: 1%;
}

.searchbar-placeholder {  
  color: #757575;
}